* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Hide scrollbar */
body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;  /* Firefox */
}
  
::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    background-color: #FFECD1;
    font-family: sans-serif;
    font-weight: 510;
    width: 100%;
    list-style-type: none;
}

nav li {
    margin: 0.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 15px;
}

nav a {
    text-decoration: none;
    color: #C43204;
    padding: 10px;
    display: block;
}

nav a:hover {
    color: #FFECD1;
}

nav li:hover {
    background-color: black;
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

main {
    padding-top: 7rem;
    background-color: #FFECD1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}

.home-first {
    display: grid;
    grid-template-rows: 2.5fr;
    row-gap: 1rem;
}

.home-first div {
    font-family: "Work Sans", sans-serif;
    font-size: 7rem;
    font-weight: 570;
    border-radius: 1.5rem;
    padding: 1.5rem;
    white-space: no-wrap;
}

.name-text {
    background-color: #C43204;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-text .fevin-felix {
    color: #FFBD59;
}

.typing-text {
    background-color: #001524;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.typing-text p {
    font-size: 4.5rem;
    color: #FFECD1;
}

.home-second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem; /* Space between images */
    background-color: #FFECD1;
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.home-second img {
    max-height: 14rem;
    object-fit: contain;
    object-fit: cover;
}

.home-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9rem;
}

.home-bottom {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    font-size: 2rem;
    text-align: center;
    color: #FFECD1;
    align-items: center;
    justify-content: center;
    padding: 6rem 12rem;
}

.chivo {
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
}

.dots {
    font-size: 6rem;
}

.yellow {
    color: #FFBD59;
}

.orange {
    color: #EE7B30;
}

/* Media Queries */
/* Responsive font sizing */

/* Media Queries */
/* Responsive adjustments */
@media (max-width: 1600px) {

    .nav-items li {
        margin: 1rem 2rem;
    }

    main {
        padding-top: 5rem;
    }

    .home-first div {
        font-size: 6rem;
        padding: 1rem;
    }

    .typing-text p {
        font-size: 4rem;
    }

    .home-second img {
        max-height: 13rem;
        object-fit: contain;
        object-fit: cover;
    }
}

@media (max-width: 1200px) {
    
    .nav-items li {
        margin: 1rem 2rem;
    }

    .home-first div {
        font-size: 5rem;
    }

    .typing-text p {
        font-size: 3rem;
    }

    .home-second img {
        max-height: 12rem;        
    }
}


@media (max-width: 1021px) {

    .home-first div {
        font-size: 4rem;
    }

    .typing-text p {
        font-size: 2rem;
    }

    .home-second img {
        max-height: 9rem;
    }
}


@media (max-width: 843px) {

    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav-items {
        justify-content: center;
    }
    
    .home-top {
        flex-direction: column;
        gap: 3rem;
    }

    .home-bottom {
        padding: 6rem 3rem;
        font-size: 2rem;
    }
    
    .home-first div {
        font-size: 6rem;
    }

    .home-first {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .typing-text p {
        font-size: 4rem;
    }

    .home-second {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .home-second img {
        max-height: 12rem;
    }
}

@media (max-width: 575px) {

    nav {
        font-size: 1rem;
    }

    .home-first div {
        font-size: 4rem;
    }

    .typing-text p {
        font-size: 2rem;
    }

    .home-second {
        padding: 0;
    }

    .home-second img {
        max-height: 8rem;
    }

    .home-bottom {
        font-size: 1.5rem;
    }
}


@media (max-width: 400px) {
    .home-first div {
        font-size: 3.6rem;
    }
    nav li {
        font-size: 1.2rem;
    }
}

