.name-text {
    background-color: #C43204;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-family: "Work Sans", sans-serif;
    font-size: 7rem;
    font-weight: 570;
    border-radius: 1.5rem;
    padding: 1.5rem;
    white-space: no-wrap;
}

.name-text .fevin-felix {
    color: #FFBD59;
}

@media (max-width: 1600px) {
    .name-text {
        font-size: 6rem;
        padding: 1rem;
    }
}

@media (max-width: 1200px) {
    .name-text {
        font-size: 5rem;
    }
}


@media (max-width: 1021px) {
    .name-text {
        font-size: 4rem;
    }
}


@media (max-width: 843px) {
    .name-text {
        font-size: 6rem;
    }

    .name-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .name-text {
        font-size: 4rem;
    }
}


@media (max-width: 400px) {
    .name-text {
        font-size: 3.6rem;
    }
}