.main-projects {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 4rem;
}

.main-projects .header {
    font-size: 5rem;
    border-top: 8px solid #e37d10;
    border-bottom: 8px solid #FFBD59;
    background-color: #fde7c8;
    color: black;
    display: inline-block;
}

.github{
    margin-top: 2rem;
}

.cards-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2rem;
}

.github-icon {
    margin-left: 0.4em;
    height: 1.3em;
    border: 5px solid black;
    border-radius: 60px;
    vertical-align: middle;
    animation: pulse 3s infinite;
}

.github-icon:hover {
    animation-play-state: paused;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}


@media (max-width: 1240px) {
    .main-projects .header {
        font-size: 3.5rem;
    }
}

@media (max-width: 843px) {
    .main-projects {
        align-items: center;
    }

    .cards-container {
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
    }

    .main-projects header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
