* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Hide scrollbar */
body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

main {
  padding-top: 7rem;
  background-color: #FFECD1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}