* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Hide scrollbar */
body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;  /* Firefox */
  background-color: #FFECD1;
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

